#{ margin: 0;
padding: 0;
outline: 0;
box-sizing: border-box;}

body{ font-family: "Poppins", sans-serif;}

/* navbar area style start here */

.navbar-text{display: flex;
justify-content: start;
list-style-type: none;
gap: 18px;}

.navbar-text li{font-size: 15px;}
/* navbar area style end here */

/* banner area style start here */
.banner-area{display: flex;
background-color: #FFECF0;
margin-left: 40px;
margin-right: 40px;
height: 550px;}

.banner-img{height: 450px;
width: 410px;}
.img-div{padding-top: 50px;}

.banner-text{padding-top: 150px;
    padding-left: 50px;}
.banner-text h1{font-size: 40px;
font-weight: 400;
line-height: 10px;}
.banner-text p{font-size: 16px;}
.banner-price{color: #ffc107;}
.banner-button{background-color: #ff278c;
color: white;
padding: 10px 20px;
font-size: 20px;
border: #ff278c;border-radius: 5px;
}
.banner-price:hover{cursor: pointer;}
.banner-button:hover{cursor: pointer;}
/* banner area style end here */

/* colourful card area style start here */

.colourful-cards-1{display: flex; 
justify-content: space-between;
 height: 120px; width: 355px;
background-color: #ffC107;}

.colourful-cards-2{display: flex;
justify-content: space-between;
 height: 120px; width: 355px;
background-color: #198754;}

.colourful-cards-3{display: flex;
justify-content: space-between;
 height: 120px; width: 355px;
background-color: #0DCAF0;}

.card-text{font-size: 40px;
font-weight: 400;
color: white; padding-left: 15px;}

.colourful-cards-img{height:90px;
width: 90px;
padding-top: 20px;
padding-right: 10px;}

.colorful-main-div{display: grid;
grid-template-columns: 1fr 1fr 1fr;
margin-left: 40px;
margin-right: 40px;
gap: 15px;
padding-top: 50px;}
/* colourful card area style end here */


